<input id="{{ textId }}" type="text" class="text fullwidth" name="{{ name }}[formattedAddress]" value="{{ location.formattedAddress }}">
<input type="hidden" name="{{ name }}[textId]" value="{{ location.id }}">
<input id="{{ latId }}" type="hidden" name="{{ name }}[lat]" value="{{ location.lat }}">
<input id="{{ lngId }}" type="hidden" name="{{ name }}[lng]" value="{{ location.lng }}">

<style>
  #{{ namespacedMapId }} {
    width: 100% !important;
    height: 400px !important;
  }
</style>

<div id="{{ mapId }}"></div>
