<div class="field">
  <div class="heading">
    <label>Default Latitude</label>
  </div>

  <div class="input ltr">
    <input class="text code fullwidth" type="text" name="defaultLat" value="{{ settings.defaultLat ? settings.defaultLat : '-98.583' }}">
  </div>
</div>

<div class="field">
  <div class="heading">
    <label>Default Longitude</label>
  </div>

  <div class="input ltr">
    <input class="text code fullwidth" type="text" name="defaultLng" value="{{ settings.defaultLng ? settings.defaultLng : '39.833' }}">
  </div>
</div>
